@model IEnumerable<BTVN_tuan6__30_10_2024.Models.BanHang>
@{
    ViewBag.Title = "MatHangBanNhieuNhat";
}

<h2>MatHangBanNhieuNhat</h2>

<h3>Tên sản phẩm: @ViewBag.TenSanPham</h3>
<h3>Tổng số lượng bán: @ViewBag.TongSoLuong</h3>

